.App {
  text-align: center;
}

.bg-grey {
  background-color: #1F2833;
}

.snippet-lab-world {
  font-size: 4rem;
  font-family: 'Times New Roman', Times, serif;
  color: #f0f2f3;
}

.snippet-lab-title {
  color: #66FCF1; 
  font-size: 4rem; 
  font-family: 'Times New Roman', Times, serif;
  
}

.buttons-section button {
  margin: 10px;
}

.video-card {
  margin-top: 20px;
}

.team-card {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin: 10px;
}

.navbar a {
  transition: background-color 0.3s, box-shadow 0.3s;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/*loadingScreen*/
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f2e9ff; /* Mild violet background */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999; /* Keep it above everything else */
}

.app-name {
  color: #5e60ce; /* Mild violet */
  font-size: 100rem; /* Adjust for a good size */
  font-family: 'Poppins', 'Times New Roman', serif; /* A clean, modern font with fallback */
  font-weight: 700; /* Bold */
  animation: fadeInOut 2s ease-in-out infinite; /* Continuous fade-in/out */
  letter-spacing: 7px; 
}


@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.load-name
{
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

.loading-spinner {
  margin-top: 20px;
  color: #8338ec; 
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0.2;
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.loading-screen {
  animation: fadeIn 1s ease-in-out;
}

.loading-screen.fade-out {
  animation: fadeOut 1s ease-in-out;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.loading-spinner {
  border: 4px solid rgba(0,0,0,0.1);
  border-left-color: #007bff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}


@keyframes gradientAnimation {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

.loading-screen {
  background: linear-gradient(-45deg, #45A29E, #66FCF1, #C5C6C7, #1F2833,#0B0C10);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-30px); }
  60% { transform: translateY(-15px); }
}

.app-name {
  font-size: 2rem;
  font-weight: bold;
  animation: bounce 2s infinite;
}